.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #174A44;
}

.row.content {
    height: 100%
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #4C5453;
}