.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.row.content {
    height: 100%
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #4C5453;
}

.header-btn {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
}