.panel-heading {
    background-color: #979B9C;
    color: #203F30;
    height: 35px;
}

.code-list {
    list-style-type: none;
}

.actions {
    cursor: pointer;
}

.action-selected {
    color: red;
}

.form-control {
    height: 30px;
}

.form-control:focus {
    border-color: #aeafb1;
}

.btn {
    height: 30px;
    padding-top: 3px !important;
}

@media screen and (min-width: 1200px) {
    .code-panel {
        height: -moz-calc(100% - 30px);
        height: -webkit-calc(100% - 30px);
        height: calc(100% - 30px);
    }

    .code-panel-collapse {
        height: -moz-calc(100% - 35px);
        height: -webkit-calc(100% - 35px);
        height: calc(100% - 35px);
    }
}

@media screen and (min-width: 992px) {
    .code-panel {
        height: -moz-calc(100% - 30px);
        height: -webkit-calc(100% - 30px);
        height: calc(100% - 30px);
    }

    .code-panel-collapse {
        height: -moz-calc(100% - 35px);
        height: -webkit-calc(100% - 35px);
        height: calc(100% - 35px);
    }
}