<div class="title">
    <h1> Qode </h1>
</div>
<div class="module form-module">
    <div class="">
    </div>
    <div class="form">
        <div *ngIf="showError" class="signup-error">{{signupError}}</div>
        <h2>Registrarse</h2>
        <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="Email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" name="email" [(ngModel)]="model.email" #email="ngModel" required />
                <div *ngIf="f.submitted && !email.valid" class="help-block">Email es requerido</div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña
                    <span class='glyphicon glyphicon-info-sign' style="color:rgb(27,175,27)"
                    title="La contraseña debe tener al menos 8 caracteres y cumplir con 3 de las cuatro reglas siguientes: mayúsculas, minúsculas, números y/o caracteres especiales."
                    ></span>
                </label>
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required app-validateEqual="confirmPassword" app-reverse="true" #password="ngModel" placeholder="Contraseña">
                <div [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                    Contraseña es requerida
                </div>
                <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
            </div>
            <div class="form-group">
                <label for="">Repetir contraseña</label>
                <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" required app-validateEqual="password" app-reverse="false" #confirmPassword="ngModel" placeholder="Repetir Contraseña">
                <div [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                    Las contraseñas deben coincidir
                </div>
                <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Confirmar</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <a [routerLink]="['']" class="btn btn-link">Cancelar</a>
            </div>
        </form>
    </div>
    <div class="cta"><a [routerLink]="['/resetpassword']">¿Olvidó su contraseña?</a></div>
</div>