.quote {
  color: red;
  height: 19.5px;
  width: 5px;
  float: right;
  font-weight: bold;
  padding: none;
  margin: none;
  border-right: 2px solid red;
}

.borderTop-quote {
  border-top: 2px solid red;
}

.borderBottom-quote {
  border-bottom: 2px solid red;
}