<li (contextmenu)="onContextMenu($event)" [ngClass]="getItemClass()" style="cursor: pointer" (dblclick)="onOpenDocument()">
    <div [attr.title]="document.memo">
        <span *ngIf="permissions.includes('activate_document') && document.isActivated()" class="glyphicon glyphicon-arrow-right list-pointer" (click)="onDeactivateDocument()">
  </span>
        <span *ngIf="permissions.includes('activate_document') && !document.isActivated()" class="list-marker" (click)="onActivateDocument()">
    &#9679;
  </span>
        <span *ngIf="!permissions.includes('activate_document')" class="list-marker">
  &#9679;
</span> {{document.name}}
    </div>
</li>
<app-options [optionGroups]="menuOptions"></app-options>