.list-item {
  cursor: pointer;
}

.list-item-selected {
  color:red;
  cursor: pointer;
}

.list-item:hover {
  background-color: #dcdcdc42;
}

.list-item-selected:hover {
  background-color: #dcdcdc42;
}

.list-pointer {
  color: red;
  padding-right: 3px;
  font-size: 11px;
}

.list-marker {
  font-size: 10px;
  padding-right: 3px
}

.counter {
  float: right;
  font-size: 12.5px;
}

