.list-group-item {
    border-bottom: solid #174a44 1px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    min-height: 100px;
}

.btn-access,
.btn-delete,
.btn-edit {
    border: none;
    color: white;
    font-weight: 300;
    border-radius: 1px;
    margin: 2px;
    /* float: right; */
    align-self: center;
}

.btn-delete {
    background-color: rgba(228, 91, 91, 0.85);
}

.btn-access {
    background-color: #669ADA;
}

.btn-edit {
    background-color: transparent;
    color: grey;
    float: right;
}

.col-md-1 {
    display: inline-grid;
}