.panel-heading {
    background-color: #979B9C;
    color: #203F30;
    height: 35px;
}

.document-list {
    list-style-type: none;
}

.actions {
    cursor: pointer;
}

.action-selected {
    color: red;
}

h5 {
    text-align: center;
}
