<div class="panel panel-default" style="max-height:50%; height: 50%;">
    <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title pull-left">
            Documentos
        </h4>
        <div class="actions pull-right">
            <span class="glyphicon glyphicon-list-alt" [title]="noSelection ? 'Activar Todos' : 'Desactivar Todos'"
            (click)="onSelectAll()" [(ngClass)]="selectAllClass"></span>
        </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body"  style="overflow:auto;max-height:270px">
            <ul class="document-list">
                <app-document-item *ngFor="let doc of documents" [document]="doc"></app-document-item>
            </ul>
        </div>
    </div>
    <spinner-component [spinnerShow]="spinner">
        <h5> Cargando lista de documentos.. </h5>
    </spinner-component>
</div>