<div class="container-fluid">
  <div class="panel-heading modal-header">
      <span class='btn-close glyphicon glyphicon-remove' (click)='onClose()'></span>
      <h5 class="modal-title">Importar códigos de otro proyecto</h5>
  </div>
  <div class="row panel-body">
      <div class="panel panel-default" style="overflow:auto;max-height:200px">
          <table style="position:relative" class="table table-striped" [mfData]="projects" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                  <tr>
                      <th style="width: 20%">
                          <mfDefaultSorter by="name" style="font-weight:400">Nombre</mfDefaultSorter>
                      </th>
                      <th style="width: 15%">
                          <mfDefaultSorter by="owner" style="font-weight:400">Propietario</mfDefaultSorter>
                      </th>
                      <th style="width: 20%">
                          <mfDefaultSorter by="_modified" style="font-weight:400">Ultima actualización</mfDefaultSorter>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  <tr app-project-item *ngFor="let proj of mf.data" [project]="proj" 
                  [toImportCodes]="true" (click)="onSelectProject(proj)" 
                  [ngClass]="actualProject===proj._id ? 'actual-proj' : (proj._id===projId?'selected-proj' : '')">
                  </tr>
              </tbody>
          </table>
          <spinner-component [spinnerShow]="spinner">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <h5> Cargando lista de proyectos.. </h5>
          </spinner-component>
      </div>
  </div>
  <div class="modal-footer text-center ">
      <button type="button" class="btn btn-success" (click)="onImport()"> Importar </button>
  </div>
</div>