<div class="panel-heading" style="position: relative" id="headingOne">
    <span *ngIf="!shown" role="tab" data-toggle="collapse"  class="expand-icon inline-x glyphicon-plus"
    [attr.data-target]="'#collapse' + retrievedQuote.getId()" (click)="shown=true"></span>
    <span *ngIf="shown" role="tab" data-toggle="collapse"  class="expand-icon inline-x glyphicon-minus"
    [attr.data-target]="'#collapse' + retrievedQuote.getId()" (click)="shown=false"></span>
    <span class="watch-icon inline-x fa fa-binoculars" 
    [ngClass]="{ 'watch-disabled': !retrievedQuote.getDocument().isOpened() }" 
    [attr.title]="retrievedQuote.getDocument().name + (retrievedQuote.getDocument().isOpened()?'':'- El documento no está abierto')"
    (click)="onWatchQuote()" ></span>
    <div class="inline-x" style="margin-left:30px; margin-right: 60px; height:12px; position:relative">
        <span *ngFor="let code of retrievedQuote.getCodes(); let i = index" class="inline-x"
        [style.margin-left.px]="i*10" [attr.title]="code.getName()"
        [ngStyle]="{'color': code.getColor()}" style="line-height:8px; height:12px; position: absolute; cursor: default">&#9679;</span>
    </div>
</div>
<div [attr.id]="'collapse' + retrievedQuote.getId()" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne"
[ngClass]="{'watched-quote': isSelected}" (dblclick)="onWatchQuote()">
  {{retrievedQuote.getText()}}
</div>