.border-red {
    border: rgba(196, 74, 74, 0.78) solid 1px;
}

.col-md-12 {
    padding-left: 30px;
    padding-right: 30px;
}

input {
    height: 40px;
    font-size: 14px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.smallinput {
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    border-width: 0px 0px 2px 0px;
    box-shadow: none;
    border-radius: inherit;
}

.alert-danger {
    padding-top: 6px;
    padding-bottom: 6px;
}