input {
    height: 40px;
    font-size: 14px;
}

h2,
h3,
h5 {
    text-align: center;
}

.smallinput {
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    border-width: 0px 0px 2px 0px;
    box-shadow: none;
    border-radius: inherit;
}