
  .content-container {
    background-color: aliceblue;
    overflow-y: scroll;
    height: 30cm;
    /* width: 31cm; */
  }

  /* Pages */
  .page {
    margin-top: 2%;
    border-spacing: 0 10px;
  }

  .page-container {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5%;
    padding-right: 5%;

  }

  /* Lines */
  .top-line {
    box-shadow:  0 9px 0px 0px white, -9px 0px 0px white, 1px 0 10px -2px #d1d1d1, 1px 0 10px -2px #d1d1d1;
    padding-top: 15px;
  }

  .bottom-line {
    box-shadow:  9px 0px 0px white, 0 -9px 0px 0px white, 1px 0 10px -2px #d1d1d1, 1px 0 10px -2px #d1d1d1;
    padding-bottom: 15px;
  }

  .white-line {
    box-shadow:  0 9px 0px 0px white, 0 -9px 0px 0px white, 1px 0 10px -2px #d1d1d1, 1px 0 10px -2px #d1d1d1;
  }


  /* Text */
  .text-area {
    padding-left: 15px;
    padding-right:15px;
    background-color: white;
  }

  
  /* Quotes */
  .quote-empty {
    color: transparent;
    width: 8px;
  }

  .quote {
    /* font-weight: bold; */
    
    cursor: pointer;
    padding: none;
    margin: none;
    border-left: 2.5px solid;
  }

  .borderTop-quote {
    border-top: 2px solid;
    
  }

  .borderBottom-quote {
    border-bottom: 2px solid;
  }



