.quote {
  color: red;
  
  width: 5px;
  display: table-cell;
  height: auto;
  font-weight: bold;
  padding: none;
  margin: none;
  border-left: 2px solid red;
}

.borderTop-quote {
  border-top: 2px solid red;
}

.borderBottom-quote {
  border-bottom: 2px solid red;
}

.text-div {
  padding-left: 10px;
  display: table-cell;
  height: auto;
}