.text-area {
  position: relative;
  white-space: normal;
  -webkit-tap-highlight-color: initial;
  padding: 18px;
}

.page-container {
  border: 0;
  box-shadow: 0 0 0 0.75pt #d1d1d1, 0 0 3pt 0.75pt #ccc;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0.22cm;
  margin-top: 0.22cm;

  cursor: text;
  background-color: rgb(255, 255, 255);
  height: 100%;
  display: block;
}
