@media screen and (min-width: 992px) {
    .bottombar-container {
        position: fixed;
        bottom: 20px;
        width: 80%;
        height: 35%;
        right: 0px;
    }
}

.bottombar {
    padding: 2px;
    background-color: white;
    height: -moz-calc(100vh - 52px - 25px);
    height: -webkit-calc(100vh - 52px - 25px);
    height: calc(100vh - 52px - 25px);
    width: 100%;
    margin-top: 25px;
    overflow-y: scroll;
}

.bottom-bar-heading {
    background-color: #3f5367;
    color: white;
    position: absolute;
    width: 100%;
    height: 25px;
}

.bottom-bar-title {
    margin-top: 2px;
    font-size: 18px
}

.bottombar-actions {
    position: absolute;
    bottom: 0;
}

.bottombar-close {
    position: absolute;
    right: 0;
    padding: 2px;
    color: #9d9f9e;
}