<div *ngIf="isOpened" class='rightbar-container'>
  <div class="col-sm-2 right-bar-heading" role="tab" id="headingOne">
    <h4 class="right-bar-title">
      Citas Recuperadas
    </h4>
    <span class='rightbar-close glyphicon glyphicon-remove' (click)='isOpened=false'></span>
  </div>
  <div class="col-sm-2 rightbar" id="mysidenav" [ngClass]="isOpened ? 'opened' : 'closed'">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <app-retrieved-quotes-list></app-retrieved-quotes-list>
    </div>
  </div>
</div>
