@import '~angular-tree-component/dist/angular-tree-component.css';
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

app-root {
    display: block;
    height: 100vh;
}

.custom {
    background-color: #e8e8e8;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.btn-close {
    position: absolute !important;
    right: 0;
    padding: 2px;
    color: #9d9f9e;
}

.panel {
    border: 0.5px solid gray;
    box-shadow: 0px 0px 10px 5px #888888;
  }
  
.panel-heading {
    background-color: #2c3e50;
    color: white;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px !important;
    padding-right: 0px !important;
}