@import '~angular-tree-component/dist/angular-tree-component.css';
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

app-root {
    display: block;
    height: 100vh;
}

.custom {
    background-color: #e8e8e8;
}


html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 0px;
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
