.list-group-item {
    border-bottom: solid #174a44 1px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;
    min-height: 100px;
}

.btn-access,
.btn-uncol {
    border: none;
    color: white;
    font-weight: 300;
    border-radius: 1px;
    margin: 5px;
    float: right;
    align-self: center;
}

.btn-access {
    background-color: #669ADA;
}

.btn-uncol {
    background-color: rgba(167, 123, 207, 0.76);
}

.col-md-1 {
    display: inline-grid;
}