.tabSelected {
    background-color: #333534;
    border-bottom: none;
    padding: 5px 10px;
    border-radius: 0px;
    border-bottom: 0px;
}

.tabNotSelected {
    background-color: rgba(225, 218, 223, 0.767);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0px;
    color: #2d3e4f;
    padding: 5px 10px;
    border-radius: 0px;
}

div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 250px;
}

.inline-x {
    display: inline-block;
}

::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space */
    height: 0px;
    background: transparent;
    /* optional: just make scrollbar invisible */
}


/* optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: #FF0000;
}