@media screen and (min-width: 1200px) {
    .sidenav {
        padding: 2px;
        /*background-color: #333534;*/
        height: -moz-calc(100vh - 52px - 21px);
        height: -webkit-calc(100vh - 52px - 21px);
        height: calc(100vh - 52px - 21px);
        width: 25%;
    }
}

@media screen and (min-width: 992px) {
    .sidenav {
        padding: 2px;
        /*background-color: #333534;*/
        height: -moz-calc(100vh - 52px - 21px);
        height: -webkit-calc(100vh - 52px - 21px);
        height: calc(100vh - 52px - 21px);
        width: 23%;
    }
}

.btn {
    border-radius: 0px;
}

.panel-group {
    height: 100%;
}