@media screen and (max-height: 1148px) {
  .sidenav {
    padding: 2px;
    padding-top: 20px;
    background-color: #333534;
    height: 879px;
    width: 20%;
  }
}

@media screen and (max-height: 840px) {
.sidenav {
    padding: 2px;
    padding-top: 20px;
    background-color: #333534;
    height: 830px;
    width: 20%;
  }
}

#miniside {
    width: 25px;
    padding-top: 10%;
    padding-left: 1px;
    padding-right: 1px;
}

#sidenavCollapseBtn {
    padding: 2px;
    background-color: transparent;
    color: #A4A0A0;
    border: none;
}

.btn {
    border-radius: 0px;
}

.opened {
    display: none;
}

.closed {
    display: block;
}
